extends layout

block content
  h1= message
  body
    p Welcome to #{title}
    if user
      h1 Welcome back #{user.username}
      a(href="/log-out") Log Out
    else    
      a(href="/messageboard/log-in") Log in

  each message in message_list  
    h3 #{message.title}
    p #{message.script}
